::selection {
    color: white;
    background-color: black; 
    }
    #shareBox {
    width: 30px;
    height: 30px;
    position: absolute;
}
#shareBox > button {
    width: 100%;
    height: 100%;
    background-color: #292A2B;
    border: none;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    background-image: url("https://raw.githubusercontent.com/hongkiat/selected-text-action-menu/gh-pages/twitter.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
}
#shareBox > button::after {
	position: absolute;
	content: '';
	border-top: 10px solid #292A2B;
	border-left:10px solid transparent;
	border-right: 10px solid transparent;
	left: 5px;
	top: 30px;	
    }
